/* ==========================================================================
   Variable: z-index
   ========================================================================== */

$z-index: (
   header: 9,
   footer: 1,
   cardLink: 1,
);
