/* ==========================================================================
Layout: acticle
========================================================================== */

.blog {
  $b: &;
  padding: 120px 0;
  overflow: hidden;
  @include large {
    padding: 96px 0;
  }
  @include medium {
    padding: 72px 0;
  }
  @include small {
    padding: 48px 0;
  }
  &__head {
    margin-bottom: 54px;
    @include medium {
      margin-bottom: 48px;
    }
    @include small {
      margin-bottom: 32px;
    }
    @include x-small {
      margin-bottom: 24px;
    }
  }
  &__body {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: -72px;
      right: -504px;
      width: 778px;
      height: 557px;
      background: url(../../../img/bg/bg2.svg) no-repeat center/100%;
      z-index: -1;
      @include large {
        width: 700px;
        height: 500px;
        right: -270px;
        top: -48px;
      }
      @include medium {
        width: 680px;
        height: 460px;
        top: -24px;
      }
      @include small {
        width: 600px;
        height: 400px;
        top: -16px;
      }
      @include x-small {
        top: 0;
        width: 580px;
        height: 360px;
      }
    }
    &::after {
      content: "";
      position: absolute;
      bottom: -220px;
      right: -130px;
      z-index: -1;
      height: 115px;
      width: 130px;
      background: url(../../../img/bg/element1.svg) no-repeat center/100%;
      @include large {
        width: 96px;
        height: 88px;
        bottom: -190px;
        right: 0;
      }
      @include medium {
        width: 88px;
        height: 80px;
        bottom: -160px;
      }
      @include small {
        width: 80px;
        height: 72px;
        bottom: -130px;
      }
    }
  }
  &__list {
    margin: 0 -18px;
    padding-bottom: 54px;
    @include clearfix;
    @include medium {
      margin: 0 -32px;
      @include scroll(x, touch, hide);
      padding: 24px 32px 56px;
    }
    @include small {
      padding-bottom: 48px;
    }
    @include x-small {
      margin: 0 -24px;
      @include scroll(x, touch, hide);
      font-size: 0;
      padding: 24px 24px 56px;
    }
  }
  &__btn {
    text-align: center;
  }
  #{$b}__card {
    float: left;
    width: 33.3333%;
    padding: 18px;
    @include medium {
      float: none;
      display: inline-block;
      vertical-align: middle;
      width: 100%;
      max-width: 312px;
      padding: 0;
      margin-right: 24px;
      white-space: normal;
      &:last-child {
        margin-right: 24px;
      }
    }
    @include x-small {
      max-width: 280px;
      margin-right: 16px;
      &:last-child {
        margin-right: 24px;
      }
    }
  }
}
