/* ==========================================================================
   Layout: Our Services
   ========================================================================== */

.our-services {
  $os: &;
  position: relative;
  padding: 144px 0 96px;
  @include large {
    padding: 112px 0 76px;
  }
  @include medium {
    padding: 88px 0 56px;
  }
  @include small {
    padding: 80px 0 48px;
  }
  @include x-small {
    padding: 72px 0 40px;
  }
  &__head {
    margin-bottom: 54px;
    @include medium {
      margin-bottom: 48px;
    }
    @include small {
      margin-bottom: 32px;
    }
    @include x-small {
      margin-bottom: 24px;
    }
  }
  &__desc {
    @include font-size(18);
    font-weight: fw(light);
    text-align: center;
    max-width: 952px;
    margin: 0 auto;
    margin-bottom: 0;
    @include small {
      @include font-size(16);
    }
  }
  &__list {
    @include clearfix;
    margin-left: -18px;
    margin-right: -18px;
    padding-bottom: 54px;
    @include clearfix;
    @include medium {
      margin-left: -16px;
      margin-right: -16px;
      padding-bottom: 48px;
    }
    @include x-small {
      margin: 0 -24px;
      @include scroll(x, touch, hide);
      font-size: 0;
      padding: 24px 24px 56px;
    }
  }
  &__body {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: -25%;
      left: -506px;
      width: 1118px;
      height: 968px;
      background: url(../../../img/bg/bg1.svg) no-repeat center/100%;
      z-index: -1;
      @include large {
        width: 800px;
        height: 693px;
        left: -280px;
        top: 0;
      }
      @include medium {
        width: 640px;
        height: 555px;
        left: -120px;
      }
      @include small {
        width: 480px;
        height: 433px;
        left: -180px;
      }
    }
    &::after {
      content: "";
      position: absolute;
      right: -48px;
      top: 46%;
      transform: translateY(-46%);
      z-index: -1;
      height: 115px;
      width: 130px;
      background: url(../../../img/bg/element1.svg) no-repeat center/100%;
      @include large {
        width: 104px;
        width: 92px;
        right: -24px;
      }
      @include small {
        width: 80px;
        height: 71px;
      }
    }
  }
  &__footer {
    text-align: center;
  }
  #{$os}__card {
    float: left;
    width: 33.3333%;
    padding: 18px;
    @include medium {
      width: 50%;
      padding: 16px;
    }
    @include x-small {
      float: none;
      display: inline-block;
      vertical-align: middle;
      width: 100%;
      max-width: 280px;
      padding: 0;
      margin-right: 16px;
      white-space: normal;
      &:last-child {
        margin-right: 24px;
      }
    }
    @include retina {
      max-width: 240px;
    }
  }
}
