/* ==========================================================================
   Layout: Testimony
   ========================================================================== */

.testimony {
  $t: &;
  padding: 120px 0;
  color: color(white);
  overflow: hidden;
  @include large {
    padding: 96px 0;
  }
  @include medium {
    padding: 72px 0;
  }
  @include small {
    padding: 56px 0;
  }
  &__box {
    background-image: linear-gradient(
      to left bottom,
      color(blue, 2) 0%,
      color(blue, 3) 100%
    );
    padding: 64px 0 84px;
    border-radius: 24px;
    position: relative;
    @include small {
      padding: 40px 0px 56px;
    }
    &::before {
      content: "";
      position: absolute;
      bottom: 32px;
      left: -48px;
      z-index: -1;
      height: 115px;
      width: 130px;
      background: url(../../../img/bg/element1.svg) no-repeat center/100%;
      @include large {
        width: 104px;
        width: 92px;
      }
      @include small {
        width: 80px;
        height: 71px;
      }
    }
    &::after {
      content: "";
      position: absolute;
      top: -16px;
      right: -48px;
      z-index: 2;
      height: 115px;
      width: 130px;
      background: url(../../../img/bg/element2.svg) no-repeat center/100%;
      @include large {
        width: 104px;
        width: 92px;
        right: -32px;
        top: -24px;
      }
      @include small {
        top: -8;
        right: -24px;
        width: 80px;
        height: 71px;
      }
    }
  }
  .text-title {
    @include small {
      @include font-size(20);
      padding: 0 16px;
    }
  }
  // carousel
  .owl-item.active {
    #{$t} {
      &__custommer,
      &__desc {
        opacity: 1;
        transform: none;
        transition: all 1250ms ease 0.5s;
      }
    }
  }
  .owl-carousel {
    .owl-nav,
    .owl-dots {
      position: absolute;
      left: 50%;
      bottom: -138px;
      transform: translateX(-50%);
      z-index: 1;
      @include medium {
        bottom: -132px;
      }
      @include small {
        bottom: -104px;
      }
    }
    .owl-nav {
      .owl-prev,
      .owl-next {
        position: absolute;
        bottom: 0;
        z-index: 1;
        opacity: 1;
        @include font-size(16);
        color: color(blue, 1);
        transition: all 350ms ease;
        @include small {
          @include font-size(12);
        }
        &.disabled {
          opacity: 0.5;
        }
      }
      .owl-prev {
        right: 140px;
        @include small {
          right: 96px;
        }
      }
      .owl-next {
        left: 140px;
        @include small {
          left: 96px;
        }
      }
    }
    .owl-dot {
      display: inline-block;
      vertical-align: middle;
      margin-right: 18px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      opacity: 0.3;
      background-color: color(blue, 1);
      transition: all 350ms ease;
      @include small {
        width: 8px;
        height: 8px;
      }
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        opacity: 1;
      }
    }
    .owl-dot.active {
      opacity: 1;
    }
  }
}
