/* ==========================================================================
   Components: hero banner
   ========================================================================== */

.hero-banner {
  &__item {
    padding: 24px 0 48px;
    width: 100%;
    overflow: hidden;
    position: relative;
    @include medium {
      padding: 40px 0 56px;
    }
    @include small {
      padding: 32px 0 48px;
    }
    &::before {
      content: "";
      position: absolute;
      top: 40px;
      left: -40px;
      z-index: zi(banner-item-before);
      width: 130px;
      height: 115px;
      background: url(../../../img/bg/element1.svg) no-repeat center/100%;
      @include medium {
        top: 20px;
      }
      @include small {
        width: 80px;
        height: 71px;
      }
    }
  }
  &__wrapper {
    @include clearfix;
  }
  &__img {
    float: right;
    width: 52%;
    @include medium {
      float: none;
      width: 100%;
      margin-bottom: 32px;
    }
    &__el {
      display: block;
      width: 124%;
      height: auto;
      max-width: initial;
      @include medium {
        width: 100%;
      }
    }
  }
  &__txt {
    float: left;
    width: 48%;
    padding-top: 145px;
    padding-right: 74px;
    @include large {
      padding-top: 72px;
      padding-right: 48px;
    }
    @include medium {
      padding-top: 0;
      float: none;
      width: auto;
      padding-right: 0;
    }
  }
  &__title {
    max-width: 428px;
    @include font-size(48);
    font-weight: fw(bold);
    margin-bottom: 24px;
    color: color(black, 1);
    @include medium {
      max-width: initial;
      @include font-size(36);
      margin-bottom: 16px;
    }
    @include small {
      @include font-size(24);
    }
  }
  &__desc {
    @include font-size(22);
    font-weight: fw(light);
    margin-bottom: 48px;
    color: color(grey, 1);
    @include medium {
      max-width: initial;
      margin-bottom: 32px;
    }
    @include small {
      @include font-size(16);
      margin-bottom: 24px;
    }
  }
}
